In [1]:
import pandas as pd
import numpy as np

In [7]:
movies = pd.read_csv('./movielens/movies.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
title      27278 non-null object
genres     27278 non-null object
dtypes: int64(1), object(2)
memory usage: 639.4+ KB

In [6]:
ratings = pd.read_csv('./movielens/ratings.csv')
print(ratings.shape)

(20000263, 4)

In [8]:
ratings.head(10)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

# Step 1: Calculate average rating and number of rated users for each movie

In [10]:
ratings['rating'].isnull().any()

False

In [11]:
grouped = ratings.groupby('movieId')
movies_rating = grouped['rating'].agg([np.size, np.mean, np.std])
print(movies_rating.shape)
print(movies_rating.dtypes)

(26744, 3)
size    float64
mean    float64
std     float64
dtype: object

In [16]:
movies_rating.tail(10)

       index  movieId  n_users  rating_mean  rating_std
26734  26734   131241      1.0          4.0         NaN
26735  26735   131243      1.0          4.0         NaN
26736  26736   131248      1.0          4.0         NaN
26737  26737   131250      1.0          4.0         NaN
26738  26738   131252      1.0          4.0         NaN
26739  26739   131254      1.0          4.0         NaN
26740  26740   131256      1.0          4.0         NaN
26741  26741   131258      1.0          2.5         NaN
26742  26742   131260      1.0          3.0         NaN
26743  26743   131262      1.0          4.0         NaN

In [14]:
movies_rating = movies_rating.reset_index()
movies_rating.head(10)

   index  movieId     size      mean       std
0      0        1  49695.0  3.921240  0.889012
1      1        2  22243.0  3.211977  0.951150
2      2        3  12735.0  3.151040  1.006642
3      3        4   2756.0  2.861393  1.095702
4      4        5  12161.0  3.064592  0.982140
5      5        6  23899.0  3.834930  0.880468
6      6        7  12961.0  3.366484  0.955883
7      7        8   1415.0  3.142049  0.966353
8      8        9   3960.0  3.004924  0.960203
9      9       10  29005.0  3.430029  0.859035

In [15]:
movies_rating = movies_rating.rename(columns={'size':'n_users', 'mean':'rating_mean', 'std':'rating_std'})
movies_rating.head(10)

   index  movieId  n_users  rating_mean  rating_std
0      0        1  49695.0     3.921240    0.889012
1      1        2  22243.0     3.211977    0.951150
2      2        3  12735.0     3.151040    1.006642
3      3        4   2756.0     2.861393    1.095702
4      4        5  12161.0     3.064592    0.982140
5      5        6  23899.0     3.834930    0.880468
6      6        7  12961.0     3.366484    0.955883
7      7        8   1415.0     3.142049    0.966353
8      8        9   3960.0     3.004924    0.960203
9      9       10  29005.0     3.430029    0.859035

In [17]:
movies_rating['n_users'] = movies_rating['n_users'].astype(int)

In [18]:
movies_rating.head(10)

   index  movieId  n_users  rating_mean  rating_std
0      0        1    49695     3.921240    0.889012
1      1        2    22243     3.211977    0.951150
2      2        3    12735     3.151040    1.006642
3      3        4     2756     2.861393    1.095702
4      4        5    12161     3.064592    0.982140
5      5        6    23899     3.834930    0.880468
6      6        7    12961     3.366484    0.955883
7      7        8     1415     3.142049    0.966353
8      8        9     3960     3.004924    0.960203
9      9       10    29005     3.430029    0.859035

In [19]:
movies_rating['rating_std'] = movies_rating['rating_std'].fillna(0)
movies_rating.tail()

       index  movieId  n_users  rating_mean  rating_std
26739  26739   131254        1          4.0         0.0
26740  26740   131256        1          4.0         0.0
26741  26741   131258        1          2.5         0.0
26742  26742   131260        1          3.0         0.0
26743  26743   131262        1          4.0         0.0

# Step 2: Merging

In [20]:
movies_all = movies.merge(movies_rating, on='movieId', how='left')

In [21]:
movies_all.head(15)

,movieId,title,genres,index,n_users,rating_mean,rating_std
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,49695.0,3.921240,0.889012
1,2,Jumanji (1995),Adventure|Children|Fantasy,1.0,22243.0,3.211977,0.951150
2,3,Grumpier Old Men (1995),Comedy|Romance,2.0,12735.0,3.151040,1.006642
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,3.0,2756.0,2.861393,1.095702
4,5,Father of the Bride Part II (1995),Comedy,4.0,12161.0,3.064592,0.982140
5,6,Heat (1995),Action|Crime|Thriller,5.0,23899.0,3.834930,0.880468
6,7,Sabrina (1995),Comedy|Romance,6.0,12961.0,3.366484,0.955883
7,8,Tom and Huck (1995),Adventure|Children,7.0,1415.0,3.142049,0.966353
8,9,Sudden Death (1995),Action,8.0,3960.0,3.004924,0.960203
9,10,GoldenEye (1995),Action|Adventure|Thriller,9.0,29005.0,3.430029,0.859035
10,11,"American President, The (1995)",Comedy|Drama|Romance,10.0,18162.0,3.667713,0.895807
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,11.0,3845.0,2.619766,1.123326
12,13,Balto (1995),Adventure|Animation|Children,12.0,1461.0,3.272416,0.980312
13,14,Nixon (1995),Drama,13.0,6022.0,3.432082,0.940845
14,15,Cutthroat Island (1995),Action|Adventure|Romance,14.0,2910.0,2.721993,1.084532

In [22]:
movies_all['n_users'] = movies_all['n_users'].fillna(0).astype(int)
movies_all['rating_mean'] = movies_all['rating_mean'].fillna(0)
movies_all['rating_std'] = movies_all['rating_std'].fillna(0)

# Output: Dataframe with added columns

In [23]:
movies_all.head(15)

,movieId,title,genres,index,n_users,rating_mean,rating_std
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,49695,3.921240,0.889012
1,2,Jumanji (1995),Adventure|Children|Fantasy,1.0,22243,3.211977,0.951150
2,3,Grumpier Old Men (1995),Comedy|Romance,2.0,12735,3.151040,1.006642
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,3.0,2756,2.861393,1.095702
4,5,Father of the Bride Part II (1995),Comedy,4.0,12161,3.064592,0.982140
5,6,Heat (1995),Action|Crime|Thriller,5.0,23899,3.834930,0.880468
6,7,Sabrina (1995),Comedy|Romance,6.0,12961,3.366484,0.955883
7,8,Tom and Huck (1995),Adventure|Children,7.0,1415,3.142049,0.966353
8,9,Sudden Death (1995),Action,8.0,3960,3.004924,0.960203
9,10,GoldenEye (1995),Action|Adventure|Thriller,9.0,29005,3.430029,0.859035
10,11,"American President, The (1995)",Comedy|Drama|Romance,10.0,18162,3.667713,0.895807
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,11.0,3845,2.619766,1.123326
12,13,Balto (1995),Adventure|Animation|Children,12.0,1461,3.272416,0.980312
13,14,Nixon (1995),Drama,13.0,6022,3.432082,0.940845
14,15,Cutthroat Island (1995),Action|Adventure|Romance,14.0,2910,2.721993,1.084532

In [128]:
not_rated = movies_all[movies_all['n_users']==0]
not_rated

,movieId,title,genres,n_users,rating_mean,rating_std
8555,26018,Chase a Crooked Shadow (1958),Crime|Film-Noir|Mystery|Thriller,0,0.0,0.0
8933,26580,"Park Is Mine, The (1986)",Action|Drama|Thriller,0,0.0,0.0
9249,27249,"Trumpet of the Swan, The (2001)",Animation|Drama|Musical,0,0.0,0.0
9315,27396,"Gentleman's Game, A (2002)",Drama,0,0.0,0.0
9770,31797,White Banners (1938),Drama,0,0.0,0.0
9975,32773,Parenti serpenti (1992),Comedy,0,0.0,0.0
10027,33019,Barefoot (Barfuss) (2005),Comedy|Drama|Romance,0,0.0,0.0
10070,33229,"Angry Silence, The (1960)",Drama,0,0.0,0.0
10128,33573,Wu Tang Master (Tian shi zhuang xie) (1983),Action,0,0.0,0.0
11078,45994,National Lampoon's Cattle Call (Cattle Call) (...,Comedy,0,0.0,0.0
13123,63280,"Winning of Barbara Worth, The (1926)",Drama|Romance|Western,0,0.0,0.0
13281,65078,Jane Austen in Manhattan (1980),Drama|Romance,0,0.0,0.0
13483,66622,His Private Secretary (1933),Comedy|Romance,0,0.0,0.0
13826,69332,Fade to Black (2006),Mystery|Thriller,0,0.0,0.0
13881,69565,Bling: A Planet Rock (2007),Documentary,0,0.0,0.0
13940,69864,Blue Blood (2006),Documentary,0,0.0,0.0
14519,72681,Anatahan (1953),Drama|War,0,0.0,0.0
14566,72897,White Shadows in the South Seas (1928),Drama|Romance,0,0.0,0.0
14570,72908,Devil in the Flesh (1947),Drama|Romance,0,0.0,0.0
15188,77451,Operator 13 (1934),Drama|Romance|War,0,0.0,0.0
15446,78713,"Trespasser, The (1929)",Drama,0,0.0,0.0
15589,79363,Music in the Air (1934),Comedy|Musical|Romance,0,0.0,0.0
15800,80226,Tarzan's Magic Fountain (1949),Action|Adventure|Fantasy|Romance,0,0.0,0.0
15888,80592,Phaedra (1962),Drama,0,0.0,0.0
15935,80787,Red Canyon (2008),Action|Horror|Thriller,0,0.0,0.0
15948,80827,Brown of Harvard (1926),Drama|Romance,0,0.0,0.0
16672,84291,Torch Song (1953),Drama|Romance,0,0.0,0.0
16903,85476,Wild Is the Wind (1957),Drama,0,0.0,0.0
17035,86314,"Happy Time, The (1952)",Comedy,0,0.0,0.0
17048,86372,"Journey, The (1959)",Drama|Romance,0,0.0,0.0
...,...,...,...,...,...,...
26604,127614,Lure of the Sila (1949),Drama,0,0.0,0.0
26610,127640,I Start Counting (1970),Thriller,0,0.0,0.0
26612,127644,The Trial of Lee Harvey Oswald (1977),Drama,0,0.0,0.0
26617,127667,Riviera (1954),Comedy|Drama,0,0.0,0.0
26618,127669,Guendalina (1957),Comedy,0,0.0,0.0
26619,127681,Come Have Coffee with Us (1970),Comedy,0,0.0,0.0
26625,127843,Antarctica (1983),Adventure|Drama,0,0.0,0.0
26626,127845,"Back to the Garden, Flower Power Comes Full Ci...",Documentary,0,0.0,0.0
26627,127851,Incredible Rocky Mountain Race (1977),Drama,0,0.0,0.0
26639,128085,Light the Fuse... Sartana Is Coming (1970),Western,0,0.0,0.0
26658,128247,The Corsican Brothers (1941),Adventure,0,0.0,0.0
26662,128277,Break-in (1939),Comedy,0,0.0,0.0
26663,128279,Sylvia and the Ghost (1946),Comedy|Fantasy|Romance,0,0.0,0.0
26664,128283,The Red Inn (1951),Comedy|Crime,0,0.0,0.0
26695,128439,Point and Shoot (2014),Documentary,0,0.0,0.0
26771,128684,Artifact (2012),Documentary,0,0.0,0.0
26809,128864,Four Sahibjade (2014),Animation,0,0.0,0.0
26810,128866,Queen of the Mountains (2014),Action|Drama,0,0.0,0.0
26811,128868,The Chaos Class Failed the Class (1976),Comedy,0,0.0,0.0
26812,128870,Yesterday (1988),Drama,0,0.0,0.0
26813,128872,Love is God (2003),Adventure|Comedy|Drama,0,0.0,0.0
26814,128874,The Moromete Family (1987),Drama,0,0.0,0.0
26815,128876,"Saban, Son of Saban (1977)",Comedy|Crime|Mystery,0,0.0,0.0
26816,128878,1 (2014),Action|Mystery|Romance,0,0.0,0.0
26817,128880,Bey Yaar (2014),Children|Comedy|Drama,0,0.0,0.0
26818,128886,Love at the Top (1974),Comedy|Drama,0,0.0,0.0
26872,129201,The Time Being (2012),Mystery,0,0.0,0.0
26933,129443,Thank You a Lot (2014),Drama,0,0.0,0.0
27004,129820,Spare Parts (2015),Children|Drama,0,0.0,0.0
27056,130040,Mo (1983),Horror,0,0.0,0.0

# Step 3: Export to csv files

In [25]:
movies_all.to_csv('./movielens/movies_all.csv')